<h1> This application is integrated with Gitlab CI </h1>
<h2> Hello Welcome </h2>

<h3> Every merge request (feature-branch) is getting deployed in to a new environment. So that the Approver can see the changes immediatly and provide the feedback .</h3>

<hr>
<h3> Review Apps are ephemeral app environments that are created dynamically every time you push a new branch up to GitLab, and they're automatically deleted when the branch is deleted.</h3>


<script src="https://gist.github.com/velmuruganvelayutham/b90be7abe8d452bc1407e8c9cc4abe88.js"></script>